[unstable]
gc = true
profile-rustflags = true

[alias]
in = "inst"
un = "uninstall"
if = "info -v"
ber = "bench --config build.rustc-wrapper='' --profile release"
bei = "bench --config build.rustc-wrapper='' --profile _install"
blr = "bloat --config build.rustc-wrapper='' --profile release"
bli = "bloat --config build.rustc-wrapper='' --profile _install"
bd = "build --profile _debug"
bt = "test build --profile _debug"
br = "build --config build.rustc-wrapper='' --profile release"
bi = "build --config build.rustc-wrapper='' --profile _install"
rd = "run --profile _debug"
rr = "run --config build.rustc-wrapper='' --profile release"
ri = "run --config build.rustc-wrapper='' --profile _install"
cl = "clean"
do = "doc --open"
nt = "nextest run"
ntm = "miri nextest run"
ntl = "nextest list"
lct = "llvm-cov --profile _debug"
lcn = "llvm-cov nextest --cargo-profile _debug"
lcr = "llvm-cov report --profile _debug"
ar = "asm --simplify --config build.rustc-wrapper='' --profile release"
ai = "asm --simplify --config build.rustc-wrapper='' --profile _install"
sr = "size --config build.rustc-wrapper='' --profile release"
si = "size --config build.rustc-wrapper='' --profile _install"
ud = "udeps"
rb = "remark build"
vg = "valgrind"

[build]
# build-dir = "{cargo-cache-home}/build"

[profile.dev]
debug = "line-tables-only"

[profile.release]
incremental = false
opt-level = 3
codegen-units = 1
debug = "line-tables-only"
strip = false
lto = true

[profile._debug]
inherits = "dev"
debug = 2

[profile._install]
inherits = "release"
rustflags = ["-Ctarget-cpu=native"]

[target.'cfg(true)']
rustflags = ["-Zshare-generics", "-Zthreads=16"]

[target.'cfg(unix)']
rustflags = ["-Clink-arg=-gz=zstd"]
